body{
    padding: 0%;
    margin: 0%;
    background-image: linear-gradient(rgba(19, 27, 49, 0.75),rgba(16, 24, 43, 0.75)),
    url(070907_457081.jpg);
    background-size: cover;
    display: block;
}
img{
    display: flex;
}
.img{
    width: 100px;
    float: right;
    height: 100px;
    border-radius:1000px
}
.img2{
padding-bottom: -30px;
display: flex;
width: 250px;
}
header{
    padding-top: 30px;
    padding-bottom: 25px;
    background-size: cover;
    opacity: 10;    
}
#titulo{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    padding-left: 20px;
}
.enlases{
    float: right;
    display: flex;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.txt{

    padding-top: 45px;
}
.txt2{
    padding-top: -30px;
}
#Javascrip-image{
    width: 120px;
    float: right;
}
#html-image{
    width: 250px;
}
section img{
    border-radius: 30px;
}
section{
    background-color: rgb(209, 209, 222);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-me1{
    margin-left: 50%;
    border-radius: 30px;
}
.about-me2{
    margin-right: 50%;
    border-radius: 30px;
}
.txt2 p{
    padding: 10px;
}
.txt p{
    padding: 10px;
}
.section{
    margin-bottom: 10px;
}
.atajos{
    margin-bottom: 10px;
}
.enlases a{
    padding-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.enlases a:hover{
    color: rgb(255, 0, 234);
    transition: 0.5s;
}
.footer{
    background-color: rgb(228, 228, 228);
    padding-top: 15px;
    padding-bottom: 15px;
}
.sql{
    width: 20px;
}
.footer p a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;color: #000;
}

section:hover{
    transition: 0.2s;
    box-shadow: 0 10px 15px -10px #ffffff;
}
.footer p a:hover{
    color: rgb(104, 104, 104);
    transition: 0.5s;
}


